<article class="custom-paragraph">
  {% if content.field_title %}
    <h3 class="paragraph-title">{{ content.field_title }}</h3>
  {% endif %}
  <p class="paragraph-text">{{ content.field_paragraph_text }}</p>
</article>
